.ss .breadcrumb-item{
    margin-left: 10px;
    margin-bottom: -50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    }
.ss .breadcrumb-item :first-child a {
    text-decoration: none; 
    color: #4EA933; 
    }
.ss .breadcrumb
    {
        margin-left: 50px;
        margin-top: 20px;
    }