.container3 {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
  max-width: 2500px !important;
  padding: 10px 155px;
  margin: 10 auto;
  margin-bottom: 10px;
}
.CheckoutGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.main-content {
  margin-top: 130px;
}
@media screen and (max-width: 1050px) { 
  .CheckoutGrid {
    grid-template-columns: 1fr; 
  }

  .main-content {
    margin-top: 0; 
    order: 2; 
  }

  .sidebar {
    order: 1; 
  }
  .container3 {
    padding: 10px 10px; }
}
